extends layout

block content
  div(class="flex justify-center align-middle p-10")
    form(class="flex flex-col flex-grow max-w-2xl gap-5 p-20 bg-slate-500 shadow-sharp border-slate-100 border-2" action="/" method="POST")
      if errors
        for error in errors
          h2(class="text-red-100 text-xl")=error.msg
      input(class="p-2" type="text" placeholder="Full Name" name="fullname" id="fullname")
      input(class="p-2" type="text" placeholder="Username" name="username" id="username" )
      input(class="p-2" type="text" placeholder="Password" name="password" id="password" )
      input(class="p-2" type="text" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" )
      input(class="p-2" type="text" placeholder="Email" name="email" id="email" )
      input(class="p-2 bg-slate-700 text-white" type="submit" value="Sign Up")
      p Already have an account? 
        a(href="/login") Log In
