extends layout 

block content
  div(class="flex flex-col items-center align-middle p-10")
    form(class="flex flex-col flex-grow max-w-2xl p-20 pt-5 gap-5 bg-slate-500 shadow-sharp border-slate-100 border-2" method="post" action="/login")
      h1(class="text-7xl text-white text-center p-5") members_only

      input(class="p-4 flex flex-grow shadow-sharp-sm" type="text" placeholder="Username" name="username" id="username")
      input(class="p-4 flex flex-grow shadow-sharp-sm" type="text" placeholder="Password" name="password" id="password")
      input(class="p-4 mt-5 bg-slate-700 text-white shadow-sharp-sm cursor-pointer" type="submit" value="Log In")

      p(class="text-xl text-white mt-2") Need an account? 
        a(class="text-blue-300" href="/") Sign up here!
    if success
      h2(class="mt-7 bg-green-700 p-3 gap-2 text-xl text-white min-h-[55px] min-w-[400px] max-w-2xl")= success
    else if error
      div(class="mt-7 bg-red-700 p-3 gap-2 text-xl text-white min-h-[55px] min-w-[400px] max-w-2xl")= error.message